*{margin: 0;}

body{
  background: #CCC;
  margin: 50px;
}
.container1{
  background: #FFF;
  padding: 20px;
  border-radius: 10px;
  margin: 0px auto;
}
h2{
  margin-bottom: 20px;
}
ul{
  padding: 0;
}
li{
  list-style: none;
  display: flex;
  align-items: top;
  border-bottom: 1px solid #CCC;
  padding: 10px 0;
}
li img{
  border-radius: 10px;
  margin-right: 20px;
}